@model SAT.DATA.EF.Models.StudentStatus

@{
    ViewData["Title"] = "Details";
}

<div class="justify-content-center row">
    <div class="col-md-10 offset-1">

        <h1 class="mt-3">@Model.Ssname Details</h1>

        <div>
          
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ssname)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ssname)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ssdescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ssdescription)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Ssid" class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-info">Back to List</a>
        </div>
    </div>
</div>