@using Microsoft.AspNetCore.Identity;
@*@using StoreFront.DATA.EF;
@using StoreFront.UI.MVC;*@
@inject SignInManager<IdentityUser> signInManager


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Greendale Community College - HomePage</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <!-- Datatables.net styles -->
    <link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Nova - v1.2.1
    * Template URL: https://bootstrapmade.com/nova-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="page-index">

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top sticked">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="@Url.ActionLink("Index", "Home")" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="~/assets/img/Flag2.jpg" alt="">
                <h1 class="d-flex align-items-center">Greendale College</h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="@Url.ActionLink("Index", "Home")">Home</a></li>
                    <li><a href="@Url.ActionLink("About", "Home")">About</a></li>
                    <li><a href="@Url.ActionLink("Contact", "Home")">Contact</a></li>

                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="dropdown">
                            <a href="#"><span>Admin</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a href="@Url.ActionLink("Index", "ScheduledClasses")">Scheduled Classes</a></li>
                                <li><a href="@Url.ActionLink("Index", "Enrollments")">Enrollments</a></li>
                                <li><a href="@Url.ActionLink("Index", "Students")">Students</a></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a href="@Url.ActionLink("Index", "ScheduledClassStatus")">Scheduled Class Status</a></li>
                                    <li><a href="@Url.ActionLink("Index", "Courses")">Courses</a></li>
                                    <li><a href="@Url.ActionLink("Index", "StudentStatus")">Student Status</a></li>
                                }
                                @*<li class="dropdown">
                            <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                            <li><a href="#">Deep Dropdown 1</a></li>
                            <li><a href="#">Deep Dropdown 2</a></li>
                            <li><a href="#">Deep Dropdown 3</a></li>
                            <li><a href="#">Deep Dropdown 4</a></li>
                            <li><a href="#">Deep Dropdown 5</a></li>
                            </ul>
                            </li>*@

                            </ul>
                        </li>
                    }
                    <li><partial name="_LoginPartial" /></li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">

            <div class="row">
                <div class="col-lg-5">
                    <h2 data-aos="fade-up">Welcome To Greendale!</h2>
                    <blockquote data-aos="fade-up" data-aos-delay="100">
                        <p>
                            <ul>
                                <li>Accessibility</li>
                                <li>Affordability</li>
                                <li>Air Conditioning</li>
                                <li>Awesome New Friends</li>
                                <li>A Lot of Classes</li>
                            </ul>



                        </p>
                    </blockquote>
                </div>

                <div class="col-lg-7">
                    <img src="~/assets/img/Community.jpg" class="img-fluid" alt="">
                </div>

                @*<div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                <a href="#about" class="btn-get-started">Get Started</a>
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>*@


            </div>
        </div>
    </section><!-- End Hero Section -->
    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="@Url.ActionLink("Index", "Home")" class="logo d-flex align-items-center">
                            <span>Greendale</span>
                        </a>
                        <p>- Streets Ahead</p>
                        <div class="social-links d-flex  mt-3">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-dash"></i> <a href="@Url.ActionLink("Index", "Home")">Home</a></li>
                            <li><i class="bi bi-dash"></i> <a href="@Url.ActionLink("About", "Home")">About us</a></li>
                            @*<li><i class="bi bi-dash"></i> <a href="@Url.ActionLink("Index", "Home")">Terms of service</a></li>
                            <li><i class="bi bi-dash"></i> <a href="@Url.ActionLink("Index", "Home")">Privacy policy</a></li>*@
                            <li><i class="bi bi-dash"></i> <a href="@Url.ActionLink("Contact", "Home")">Contact</a></li>
                        </ul>
                    </div>

                    @* <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                    <li><i class="bi bi-dash"></i> <a href="#">Web Design</a></li>
                    <li><i class="bi bi-dash"></i> <a href="#">Web Development</a></li>
                    <li><i class="bi bi-dash"></i> <a href="#">Product Management</a></li>
                    <li><i class="bi bi-dash"></i> <a href="#">Marketing</a></li>
                    <li><i class="bi bi-dash"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                    </div>*@

                    <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
                        <h4>Contact Us</h4>
                        <p>
                            Greendale, Co<br>
                            United States <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> dean@comm.edu<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="footer-legal">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>Nova</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <!-- Datatables.net script -->
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>



@await RenderSectionAsync("Scripts", false)